{% extends "base.html.twig" %}

{% block local_javascript %}

    <script>
    	$(document).ready( function () {
    	    $('#courses').DataTable({
    	    	"paging": false,
    	    	"stateSave": true,
    	    	"oLanguage": {
    			    "sSearch": "Course and/or instructor:"
    			  }
    		});
    	} );
    </script>

{% endblock %}

{% block content %}

    <div class="courses">

    	<h1>Course Reserves</h1>

    	{% block related_links %}
        {% endblock %}

    	<table id="courses" class="display" style="width:100%">
    		<thead>
    	    	<tr>
    	    		<td>Course</td>
    	    		<td>Instructor</td>
    	    	</tr>
    	    </thead>
    		{%  for course in courses %}
    		<tr>
    			<td class="course-name">
    				<a href="course/{{ course.id }}">
    					{{ course|course_name|raw }}
    				</a>
    			</td>
    			<td class="course-instructors">
					{{ course|instructors }}
				</td>
    		</tr>
    		{% endfor %}
    	</table>

    	<p class="last-update">Last updated {{ last_updated }}</p>
    </div>

{%  endblock %}
